.vscode
script/MiFlashPro/*
scripts/MiFlashPro/*
scripts/checkOTA.txt
scripts/__pycache__
src/config.py
src/__pycache__
scripts/config.py
scripts/database/config.py
scripts/database/__pycache__
.DS_Store