/.vscode
/updater/today.txt
/updater/weekend.txt
/script/devlist.db3
/script/download.db3
/script/MDBeta.json
/script/MDGetFull.txt
/script/MDPilot.txt
/script/MGCGetID.txt
/script/MiFlashPro.txt
/script/MIUI.txt
/script/MIUIFlags.txt
/script/MIUIIDFile.txt
/script/QQDoc.txt
/script/MFW/MFW.txt
/script/MFW/MFWFlags.txt
/script/MFW/MFWGetFab.txt
/script/MFW/MFWGetRec.txt
/script/MGC/MGCFlags.txt
/script/MGC/MGCGetFastboot.txt
/script/MGC/MGCGetRec.txt
