body {
  font-family: "MISans";
  /* filter: grayscale(); */
}
.mdui-color-deep-orange-accent {
  background-color: #fe7700 !important;
}
.mdui-text-color-orange{
  color:#fe7700 !important;
  font-size: 25px !important;
}

.mdui-ripple-orange{
  color:#fe7700 !important;
}
a {
  text-decoration: none;
}
span a{
  color: blue;
}
a:visited{
  color:blue;
}
span{
  margin:2px;
}
a span{
  color: black;
}
.mdui-col {
  width: 120px !important;
  height: 270px !important;
}
.name {
  padding-top: 5px;
}
.mdui-bottom-nav-active {
  color: black !important;
}
.mdui-tab-active {
  color: white !important;
}
div .switcher .mdui-tab-active {
  color: black !important;
}
.mdui-tab-active a{
  color: black !important;
}
.mdui-tab-active a:visited{
  color: black !important;
}
.mdui-bottom-nav a:visited{
  color: black !important;
}
.mdui-menu-item a{
  color: black !important;
}
.mdui-panel-item-title{
  overflow:visible;
}
.mdui-table{
  border:0px !important;
}
.mdui-table td, .mdui-table th{
  line-height:15px;
  padding-right: 10px;
  padding-left: 10px;
}
img {
  margin: 0px !important;
}
#id {
  width: 280px;
  margin-left: 10px;
}
.fic {
  font-family: "iconfont";
  text-align: right;
}

.fic label {
  text-decoration: none;
  text-align: center;
}
.ff {
  margin-bottom: 36px;
  padding-top: 5px;
}

.fs {
  padding-top: 5px;
  margin-bottom: -25px;
}

.ffm {
  margin-bottom: 60px;
}

.fsm {
  padding-top: 5px;
}
.ftm {
  padding-top: 5px;
  margin-bottom: -30px;
}

.mdui-list-item {
  padding-left: 50px;
}
.mdui-panel-item {
  padding-left: 30px;
}
.mdui-menu {
  padding: 0px;
}

.mdui-menu-item > a {
  display: inline;
  padding: 0px;
}
.mdui-panel-item-header {
  padding-left: 0px;
}
.mdui-panel-item-body {
  padding-left: 0px;
}
.PNF {
  line-height: 200px; /*垂直居中关键*/
  text-align: center;
  height: 100%;
  font-size: 36px;
}
.series{
  margin-bottom: 10px;
  padding-top: 10px;
}
.mdui-bottom-nav a .mdui-icon{
  opacity: 1!important;
}
