body{font-family:MISans}
.mdui-color-deep-orange-accent{background-color:#fe7700!important}
.mdui-text-color-orange{color:#fe7700!important;font-size:25px!important}
.mdui-ripple-orange{color:#fe7700!important}
a{text-decoration:none}
a:visited,span a{color:#00f}
.mdui-tab-active{color:#fff!important}
.mdui-tab-active a,.mdui-tab-active a:visited,.tools .mdui-tab-active{color:#000!important}
span{margin:2px}
a span{color:#000}
.mdui-col{width:120px!important;height:270px!important}
.name{padding-top:5px}
.mdui-bottom-nav a:visited,.mdui-bottom-nav-active,.mdui-menu-item a,div .switcher .mdui-tab-active{color:#000!important}
.mdui-panel-item-title{overflow:visible}
.mdui-table{border:0!important}
.mdui-table td,.mdui-table th{padding-right:10px;padding-left:10px}
img{margin:0!important}
#id{width:280px;margin-left:10px}
.fic{font-family:iconfont;text-align:right}
.fic label{text-decoration:none;text-align:center}
.ff{margin-bottom:36px}
.ff,.fs{padding-top:5px}
.fs{margin-bottom:-25px}
.ffm{margin-bottom:60px}
.fsm,.ftm{padding-top:5px}
.ftm{margin-bottom:-30px}
.mdui-list-item{padding-left:50px}
.mdui-panel-item{padding-left:30px}
.mdui-menu{padding:0}
.mdui-menu-item>a{display:inline;padding:0}
.mdui-panel-item-body,.mdui-panel-item-header{padding-left:0}
.devnotice ol li{margin:10px}
.PNF{line-height:100px;text-align:center;height:100%;font-size:36px}
.series{margin-bottom:10px;padding-top:10px}
.mdui-bottom-nav a .mdui-icon{opacity:1!important}
